{% extends 'base.html.twig' %}

{% block title %}Hello InicioController!{% endblock %}

{% block body %}
    {{ parent() }}

    <p>Aqui se mostrarán las salas y horarios disponibles</p>

{% endblock %}
