{% extends 'base.html.twig' %}

{% block title %}New Cliente{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Crear nuevo Cliente</h1>

    {{ include('cliente/_form.html.twig') }}

    <hr>

    <a class="btn btn-outline-primary" href="{{ path('cliente_index') }}">Regresar al listado</a>
{% endblock %}
