<div class="myform" >

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="crear"  v-on:click="visualizar" class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>