.div_angosta {
    padding-left: 300px;
    padding-right: 350px;
}

.div_angosta a {
    text-decoration: none;
}

.lista_disponibilidad ul {
    padding-right: 900px;
}

.myform {
    padding-left: 30px;
    padding-right: 400px;
}